@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");
@font-face {
    font-family: 'Batman Forever';
    src: url(./assets/fonts/batmfa__.ttf) format('truetype');
}

:root {
    --primary-color:  rgb(88, 137, 177);
    --secundary-color: #000000;
    --gradient-color: #027f88;
    --white-color: #ffffff;
    --bg-dark-color: rgb(32, 32, 32);
    --bg-darkblue-color: #001329;
    --bg-lightgray-color: #353535;
}

:root {
    --primary-font: 'Poppins', sans-serif;
    --secundary-font: 'Raleway', sans-serif;
    --third-font: 'Batman Forever', 'Raleway', sans-serif;
    --giant-font: 4rem;
    --extra-big-font: 3rem;
    --big-font: 2.4rem;
    --normal-font: 1.6rem;
}

:root {
    --mobile-padding: 30px;
}